/*Especificidad 001*/
body {
  font: 400 15px Tahoma; /*Familia sans-serif*/
  line-height: 1.8;
  color: #000000;
  background-color: #fff;
}
/*Especificidad 001*/
h1 {
  background-color:#000000; 
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 25px 25px;
  text-align: center;     
}
/*Especificidad 001*/
h2{
  background-color:#000000; 
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 10px 10px;
  text-align: left;
}
/*Especificidad 000*/
* {
padding: 0;
margin: 0;
}
/*Especificidad 001*/
nav {
float: left; /* Desplazamos el nav hacia la izquierda */
}

/*Especificidad 002*/
nav ul {
list-style: none;
overflow: hidden; /* Limpiamos errores de float */
}

/*Especificidad 001*/
article {
width: 80%;
margin: auto;
overflow:hidden;
padding-top: 200px;
}
/*Especificidad 003*/
nav ul li {
float: left;
font-family: Tahoma;
font-size: 16px;
}

/*Especificidad 004*/
nav ul li a {
display: grid;
padding: 20px;
color: rgb(255, 255, 255);
text-decoration: none;
}

/*Especificidad 013*/
nav ul li:hover {
background: #222423;
}

/*Especificidad 001*/
p {
margin-bottom: 20px;
}

/*Especificidad 001*/
header {
background: rgba(0,0,0,0.9);
width: 100%;
position: fixed;
z-index: 100;
}

@media (max-width: 520px) {
  /*Especificidad 001*/
  header {
  position: static;
  }
  /*Especificidad 001*/
  nav {
  background-color: #222423;
  }
  /*Especificidad 001*/
  article {
  padding-top: 21px;
  }
}

/*Especificidad 002*/
footer img{
  margin-top: 40px;
  display: grid;
  float: left;
  height: 64px;
  width: 64px;
}



